@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #0c122c;
  position: relative;
}

.wrapper {
  background-image: url("./images/bg-desktop.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 60vh;
  font-family: "Manrope", sans-serif;
  position: absolute;
  top: 40vh;
  left: 0;
}

.wrapper .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.wrapper .container .box-left {
  background-color: #1d2c67;
  width: 600px;
  padding: 2.5em 12.5em 2.5em 2.5em;
  border-radius: 8px 100px 8px 8px;
}

.wrapper .container .box-left .logo {
  margin: 1em 0;
}

.wrapper .container .box-left .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.wrapper .container .box-left .flex a {
  background-color: #0c122c;
  padding: .75em;
  border-radius: 16px;
  margin: 0px 6px;
}

.wrapper .container .box-left .flex a img {
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper .container .box-right {
  background-color: #1d2c67;
  width: 750px;
  padding: 2.5em;
  height: 160px;
  -webkit-transform: translateY(24px);
          transform: translateY(24px);
  border-radius: 8px;
  position: relative;
}

.wrapper .container .box-right .usage-text {
  color: #848794;
}

.wrapper .container .box-right .usage-left {
  padding: 1em;
  position: absolute;
  top: -30%;
  right: 10%;
  background-color: white;
  color: #848794;
  border-radius: 6px 6px 0 6px;
}

.wrapper .container .box-right .usage-left span {
  font-size: 2em;
  color: black;
}

.wrapper .container .box-right .usage-left::after {
  content: '';
  position: absolute;
  bottom: -15px;
  right: -0.5px;
  width: 16px;
  height: 16px;
  background-color: white;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%);
  z-index: 10;
}

.wrapper .container .box-right meter {
  width: 100%;
}

.wrapper .container .box-right meter::-webkit-meter-bar {
  background: #FFF;
}

.wrapper .container .box-right meter::-webkit-meter-optimum-value {
  background: -webkit-gradient(linear, left top, left bottom, from(#62c462), to(#51a351));
  background: linear-gradient(to bottom, #62c462, #51a351);
}

.wrapper .container .box-right meter::-webkit-meter-suboptimum-value {
  background: -webkit-gradient(linear, left top, left bottom, from(#fbb450), to(#f89406));
  background: linear-gradient(to bottom, #fbb450, #f89406);
}

.wrapper .container .box-right meter::-webkit-meter-even-less-good-value {
  background: -webkit-gradient(linear, left top, left bottom, from(#ee5f5b), to(#bd362f));
  background: linear-gradient(to bottom, #ee5f5b, #bd362f);
}

.wrapper .container .box-right .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.wrapper .usage-volume {
  color: #dddbff;
}
/*# sourceMappingURL=styles.css.map */