*
    margin: 0
    padding: 0
    box-sizing: border-box

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&family=Roboto:wght@400;700&display=swap')
$family: 'Manrope', sans-serif
$paleBlue: hsl(243, 100%, 93%)
$grayishBlue: hsl(229, 7%, 55%)
$darkBlue: hsl(228, 56%, 26%)
$veryDarkBlue: hsl(229, 57%, 11%)
$weightLow: 400
$weightHigh: 700

body
    background-color: $veryDarkBlue
    position: relative

.wrapper
    background-image: url('./images/bg-desktop.png')
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    width: 100%
    height: 60vh
    font-family: $family
    position: absolute
    top: 40vh
    left: 0

    .container
        display: flex
        justify-content: space-evenly
        align-items: center
        transform: translateY(-50%)
        .box-left
            background-color: $darkBlue
            width: 600px
            padding: 2.5em 12.5em 2.5em 2.5em
            border-radius: 8px 100px 8px 8px
            .logo
                margin: 1em 0
            .flex
                display: flex
                justify-content: space-between
                align-items: baseline
                a
                    background-color: $veryDarkBlue
                    padding: .75em
                    border-radius: 16px
                    margin: 0px 6px

                    img
                        object-fit: cover

        .box-right
            background-color: $darkBlue
            width: 750px
            padding: 2.5em
            height: 160px
            transform: translateY(24px)
            border-radius: 8px
            position: relative
            .usage-text
                color: $grayishBlue
            .usage-left
                padding: 1em
                position: absolute
                top: -30%
                right: 10%
                background-color: white
                border-radius: 6px 6px 0 6px
                span
                    font-size: 2em
                &::after
                    content: ''
                    position: absolute
                    bottom: -15px
                    right: -0.5px
                    width: 16px
                    height: 16px
                    background-color: white
                    clip-path: polygon(0 0, 100% 0, 100% 100%)
                    z-index: 10
            meter
                width: 100%
            meter::-webkit-meter-bar
                background: #FFF

            meter::-webkit-meter-optimum-value
                background: linear-gradient(to bottom, #62c462, #51a351)

            meter::-webkit-meter-suboptimum-value
                background: linear-gradient(to bottom, #fbb450, #f89406)

            meter::-webkit-meter-even-less-good-value
                background: linear-gradient(to bottom, #ee5f5b, #bd362f)

            .flex
                display: flex
                justify-content: space-between
                align-items: baseline
    .usage-volume
        color: $paleBlue
